
.video-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.thumb {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	background: #c2185b;
}

.plays {
	position: absolute;
	left: 10px;
	bottom: 15px;
	color: #fff;
	display: flex;
	align-items: center;
}

.icon {
	margin-right: 5px;
}

