.avatar {
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	width: 116px;
	height: 116px;
	margin-right: 15px;
}

.avatar img {
	width: 100%;
	height: 100%;
}

@media (max-width: 450px) {
	.avatar {
		width: 80px;
		height: 80px;
	}
}

@media (max-width: 365px) {
	.avatar {
		width: 60px;
		height: 60px;
	}
}
